


@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	box-sizing: border-box;
}
body {
    background-color: #142a3e;
}

/* h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: chocolate;
    font-family: 'Holtwood One SC', serif;
    font-size: 70px;
    text-shadow: black 0.1em 0.1em 0.2em;
} */

/* img {
    margin: auto 26%;
    width: 150px;
    height: 200px;
    position: fixed;
    top:18%;
} */

/* ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    position: fixed;
    top: 46%;
    left: 28.5%;
    bottom: 0;
} */

button>p {
    font-size: 14px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*FOOTER*/
/* .palavra span {
    color: chocolate;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    text-shadow: rgb(8, 8, 8) 0.1em 0.1em 0.2em;
    font-weight: 600;
} */

/* .palavra {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 39vw;
    left: 16%;
    bottom: 0;
} */

/* .palavra input {
    width: 50vw;
    height: 31.5px;
} */

/* .palavra button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: chocolate;
    border-color: chocolate;
    padding: 5px;
    border-radius: 2px;
    color: white;
    margin-left: 5px;
    width: 50px;
    height: 31.5px;
    cursor: pointer;
} */

/*Botao Escolher Nova Palavra*/
/* .palavra-button button {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2%;
    margin-left: 65%;
    font-size: 15px;
    background-color: chocolate;
    padding: 5px;
    cursor: pointer;
} */

li button.colorEnabled {
    width: 30px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    background-color: chocolate;
    cursor: pointer;
}

li button.colorDisabled {
    width: 30px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    background-color: rgba(63, 60, 60, 0.604);
    cursor: pointer;
}

.Disabled {
    border-color: black;
}

.Enabled {
    border-color: chocolate;
}

.letrasNaTela{
    width: 15px;
    text-align: center;
    border-bottom: 2px solid chocolate;
    display: inline;
    margin:5px;
    position: relative;
    left: 48%;
}
.letrasNaTela > span{
   margin:15px;
}
.letrasNaTelaVerde{
    width: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color:rgb(0, 252, 0);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.letrasNaTelaVermelho{
    width: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color:rgb(245, 26, 26);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.colorBlue{
    color:blue;
}
/* .reiniciarButton{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2%;
    margin-left: 65%;
    font-size: 15px;
    background-color: rgb(41, 80, 157);
    padding: 5px;
    cursor: pointer;
    margin-bottom: 13%;
}  */